APIStarter.Application/bin
APIStarter.Application/obj
APIStarter.Domain/bin
APIStarter.Domain/obj
APIStarter.Infrastructure/obj
APIStarter.Infrastructure/bin
.vs
Read Model/ReadModel.ElasticSearch/bin
Read Model/ReadModel.ElasticSearch/obj
Read Model/ReadModel.API/obj
Read Model/ReadModel.API/bin
