Write Model/WriteModel.Domain/obj
Write Model/WriteModel.Domain/bin
Write Model/WriteModel.Infrastructure/obj
Write Model/WriteModel.Infrastructure/bin
Write Model/WriteModel.Application/obj
Write Model/WriteModel.Application/bin

Read Model/ReadModel.Domain/bin
Read Model/ReadModel.Domain/obj
Read Model/ReadModel.Infrastructure/bin
Read Model/ReadModel.Infrastructure/obj
Read Model/ReadModel.Application/bin
Read Model/ReadModel.Application/obj

.vs
Read Model/ReadModel.Domain.WriteModel/obj
Read Model/ReadModel.Infrastructure.WriteModel/obj
Read Model/ReadModel.Domain.WriteModel/bin
