Write Model/APIStarter.Application/bin
Write Model/APIStarter.Application/obj
Write Model/APIStarter.Domain/bin
Write Model/APIStarter.Domain/obj
Write Model/APIStarter.Infrastructure/obj
Write Model/APIStarter.Infrastructure/bin
.vs
